<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<style type="text/css">		
		
	</style>
</head>

<body>	
	<div class="content">
	<!--*****************************************放款信息**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">放款信息</span>
		<div class="divBorder">
			<table class="table-list">				
				<tr>
					<td class="table-label">管理费(元)</td>
					<td><input type="text" id=""/>管理费率1%</td>
					<td class="table-label">代理费(元)</td>
					<td><input type="text" id=""/>代理费率1%</td>					
				</tr>		
				<tr>
					<td class="table-label">合同签订日期*</td>
					<td><input type="text" id=""/></td>
					<td class="table-label">放款帐号*</td>
					<td><input type="text" id=""/></td>					
				</tr>	
				<tr>
					<td class="table-label">贷款合同编号*</td>
					<td><input type="text" id=""/></td>
					<td class="table-label">担保合同编号</td>
					<td><input type="text" id=""/></td>					
				</tr>
				<tr>
					<td class="table-label">抵押品合同编号</td>
					<td colspan="3"><input type="text" id=""/></td>			
				</tr>	
			</table>
		</div>
	</div>
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/process.js"></script>
	<script type="text/javascript"></script>
</body>
</html>
