<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<style type="text/css">		
		.table-list .table-label{width:150px;}
		input[type=text]{padding:0;}				
	</style>
</head>

<body>	
	<div class="content">
	<!--*****************************************还款计划**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">还款计划</span>
		<div class="divBorder">
			<table class="table-list">
				<thead>
					<tr>
						<th>还贷期数</th>
						<th>还款方式</th>
						<th>第一次还贷日期</th>
						<th>放款日期</th>
						<th>年利率%</th>
						<th>贷款金额</th>
					</tr>
				</thead>
				<tbody class="center">
					<tr>
						<td>12</td>
						<td>等额本息</td>
						<td>2009-06-20</td>
						<td>2009-05-20</td>
						<td>3.0000</td>
						<td>300,000.00</td>
					</tr>													
				</tbody>								
			</table>
		</div>
		<div class="divBorder">
			<table class="table-list">
				<thead>
					<tr>
						<th>还贷期数</th>
						<th>还贷日期</th>
						<th>天数</th>
						<th>每月本金</th>
						<th>利息</th>
						<th>合计</th>
						<th>贷款余额</th>
					</tr>
				</thead>
				<tbody class="center">
					<tr>
						<td>1</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>	
					<tr>
						<td>2</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>
					<tr>
						<td>3</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>
					<tr>
						<td>4</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>
					<tr>
						<td>5</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>
					<tr>
						<td>6</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>
					<tr>
						<td>7</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>
					<tr>
						<td>8</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>
					<tr>
						<td>9</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>
					<tr>
						<td>10</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>
					<tr>
						<td>11</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>
					<tr>
						<td>12</td>
						<td><input type="text" id=""/></td>
						<td>31</td>
						<td><input type="text" id=""/></td>
						<td>7500.00</td>
						<td><input type="text" id=""/></td>
						<td>275341.89</td>
					</tr>												
				</tbody>								
			</table>
		</div>
	</div>
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/process.js"></script>
	<script type="text/javascript"></script>
</body>
</html>
