<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">

	<style type="text/css">
		html{overflow-y:scroll;}  
		#date{line-height:25px;font-size:12px;color:gray;margin-top:-30px;}
	</style>
</head>

<body onload="showdate();">
<!--**************************************************top***********************************************-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">				
				<a class="brand" href="javascript:void(0);" onclick="iframe('welcome')">小微贷款业务管理系统</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="javascript:void(0);" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user icon-white"></i>&nbsp;{{login_name}}<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
								<li><a href="javascript:void(0);" onclick="changeiframe('change_password');">修改密码</a></li>
								<li class="divider"></li>
								<li><a href="logout">注销</a></li>
							</ul>
						</li>
					</ul>					
					<ul class="nav" id="topmenu">
						<li 
							{%- if menu == "xxgl"%}
								class="active"
							{%- endif %}
							onclick="iframe('xxgl')"><a href="javascript:void(0);">信息管理</a></li>
						<li 
							{%- if menu == "lcgl"%}
								class="active"
							{%- endif %}
							onclick="iframe('lcgl')"><a href="javascript:void(0);">流程管理</a></li>
						<li 
							{%- if menu == "xtgj"%}
								class="active"
							{%- endif %}
							onclick="iframe('xtgj')"><a href="javascript:void(0);">系统工具</a></li>
						<li 
							{%- if menu == "xtgl"%}
								class="active"
							{%- endif %}
							onclick="iframe('xtgl')"><a href="javascript:void(0);">系统管理</a></li>
						<li 
							{%- if menu == "tjbb"%}
								class="active"
							{%- endif %}
							onclick="iframe('tjbb')"><a href="javascript:void(0);">统计报表</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</div><!--/.navbar-inner -->
	</div><!--/.navbar -->
<!--**************************************************left***********************************************-->
    <div class="container-fluid" style="margin:55px auto 0;">
		<div class="row-fluid">
			<div class="span2" style="position:fixed;">
				<div class="well sidebar-nav" id="leftmenu">				
					<ul class="nav nav-list 
							{%- if menu != "xxgl"%}
								hidden
							{%- endif %}
							" id="xxgl">
						<li class="nav-header">信息管理</li>
						<li onclick="leftmenu(this);changeiframe('Information/khxxgl')" id="khxxgl" class="active">
							<a href="javascript:void(0);">客户信息管理</a>
						</li>
						<li onclick="leftmenu(this);changeiframe('Information/dkxxgl')" id="dkxxgl" >
							<a href="javascript:void(0);">贷款信息管理</a>
						</li>              
					</ul>
					<ul class="nav nav-list 
							{%- if menu != "lcgl"%}
								hidden
							{%- endif %}
							" id="lcgl">
						<li class="nav-header">流程管理</li>
						<li onclick="leftmenu(this);changeiframe('Process/lfdj/lfdj')" id="lfdj" class="active">
							<a href="javascript:void(0);">来访登记</a>
						</li>
						<li onclick="leftmenu(this);changeiframe('Process/dksq/dksq')" id="dksq" >
							<a href="javascript:void(0);">贷款申请</a>
						</li>    
						<li onclick="leftmenu(this);changeiframe('Process/dksqsh/dksqsh')" id="dksqsh" >
							<a href="javascript:void(0);">贷款申请审核</a>
						</li>  
						<li onclick="leftmenu(this);changeiframe('Process/dqdc/dqdc')" id="dqdc" >
							<a href="javascript:void(0);">贷前调查</a>
						</li>  
						<li onclick="leftmenu(this);changeiframe('Process/dksp/dksp')" id="dksp" >
							<a href="javascript:void(0);">贷款审批</a>
						</li>  
						<li onclick="leftmenu(this);changeiframe('Process/dkfk/dkfk')" id="dkfk" >
							<a href="javascript:void(0);">贷款放款</a>
						</li>  
						<li onclick="leftmenu(this);changeiframe('Process/fksh/fksh')" id="fksh" >
							<a href="javascript:void(0);">放款审核</a>
						</li>  
						<li onclick="leftmenu(this);changeiframe('Process/hkdj/hkdj')" id="hkdj" >
							<a href="javascript:void(0);">还款登记</a>
						</li>  
						<li onclick="leftmenu(this);changeiframe('Process/dhbg/dhbg')" id="dhbg" >
							<a href="javascript:void(0);">贷后变更</a>
						</li>  
						<li onclick="leftmenu(this);changeiframe('Process/dhbgsh/dhbgsh')" id="dhbgsh" >
							<a href="javascript:void(0);">贷后变更审核</a>
						</li>  
						<li onclick="leftmenu(this);changeiframe('Process/dhgl/dhgl')" id="dhgl" >
							<a href="javascript:void(0);">贷后管理</a>
						</li>  
						<li onclick="leftmenu(this);changeiframe('Process/zcfl/zcfl')" id="zcfl" >
							<a href="javascript:void(0);">资产分类</a>
						</li>  	
						<li onclick="leftmenu(this);changeiframe('Process/zcflsh/zcflsh')" id="zcflsh" >
							<a href="javascript:void(0);">资产分类审核</a>
						</li>  						
					</ul>
					<ul class="nav nav-list 
							{%- if menu != "xtgj"%}
								hidden
							{%- endif %}
							" id="xtgj">
						<li class="nav-header">系统工具</li>
						<li onclick="leftmenu(this);changeiframe('Tools/hkjhjsgj')" id="hkjhjsgj" class="active">
							<a href="javascript:void(0);">还款计划计算工具</a>
						</li>						       
					</ul>
					<ul class="nav nav-list 
							{%- if menu != "xtgl"%}
								hidden
							{%- endif %}
							" id="xtgl">
						<li class="nav-header">系统管理</li>
						<li onclick="leftmenu(this);changeiframe('System/ywcspz')" id="ywcspz" class="active">
							<a href="javascript:void(0);">业务参数配置</a>
						</li>	
						<li onclick="leftmenu(this);changeiframe('System/jkpz')" id="jkpz" >
							<a href="javascript:void(0);">接口配置</a>
						</li>		
						<li onclick="leftmenu(this);changeiframe('System/rzrj')" id="rzrj" >
							<a href="javascript:void(0);">日终日结</a>
						</li>
						<li onclick="leftmenu(this);changeiframe('System/sjzd')" id="sjzd" >
							<a href="javascript:void(0);">数据字典</a>
						</li>			
						<li onclick="leftmenu(this);changeiframe('System/jggl')" id="jggl" >
							<a href="javascript:void(0);">机构管理</a>
						</li>
						<li onclick="leftmenu(this);changeiframe('System/syzgl')" id="syzgl" >
							<a href="javascript:void(0);">使用者管理</a>
						</li>		
						<li onclick="leftmenu(this);changeiframe('System/jsqxgl/1')" id="jsqxgl" >
							<a href="javascript:void(0);">角色权限管理</a>
						</li>		
					</ul>
					<ul class="nav nav-list 
							{%- if menu != "tjbb"%}
								hidden
							{%- endif %}
							" id="tjbb">
						<li class="nav-header">统计报表</li>
						<li onclick="leftmenu(this);changeiframe('Report/kh')" id="kh" class="active">
							<a href="javascript:void(0);">客户</a>
						</li>	
						<li onclick="leftmenu(this);changeiframe('Report/dkgjztfl')" id="dkgjztfl" >
							<a href="javascript:void(0);">贷款根据状态分类</a>
						</li>		
						<li onclick="leftmenu(this);changeiframe('Report/xdgzlclb')" id="xdgzlclb" >
							<a href="javascript:void(0);">信贷工作流程列表</a>
						</li>		
						<li onclick="leftmenu(this);changeiframe('Report/pcscbbcx')" id="pcscbbcx" >
							<a href="javascript:void(0);">批次生成报表查询</a>
						</li>		
						<li onclick="leftmenu(this);changeiframe('Report/zhgllbb')" id="zhgllbb" >
							<a href="javascript:void(0);">总行管理类报表</a>
						</li>	
						<li onclick="leftmenu(this);changeiframe('Report/line')" id="line" >
							<a href="javascript:void(0);">折线图</a>
						</li>
						<li onclick="leftmenu(this);changeiframe('Report/bar')" id="bar" >
							<a href="javascript:void(0);">柱状图</a>
						</li>
						<li onclick="leftmenu(this);changeiframe('Report/pie')" id="pie" >
							<a href="javascript:void(0);">饼图</a>
						</li>	
					</ul>

				</div><!--/.well -->					
			</div><!--/span-->
<!--**************************************************content***********************************************-->
			<div class="span10 pull-right">
				<iframe frameborder="0" 
					{%- if menu == "xxgl" %}
						src="Information/khxxgl"
					{%- elif menu == "lcgl" %}
						src="Process/lfdj/lfdj"
					{%- elif menu == "xtgj" %}
						src="Tools/hkjhjsgj"
					{%- elif menu == "xtgl" %}
						src="System/ywcspz"
					{%- elif menu == "tjbb" %}
						src="Report/kh"
					{%- endif %}
				width="100%;" id="content_frame" marginheight="0" marginwidth="0" height="100%" onload="resizeFrame('content_frame')"></iframe>
			</div><!--/span-->
		</div><!--/row-->		
    </div><!--/.fluid-container-->		
<!--**************************************************foot***********************************************-->
	<div class="footer">
		<p class="pull-center">@ 2013 CardPay (Shanghai) Info Tech Co.,Ltd</p>
		<span id="date" class="pull-right"></span>
	</div>
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>
