<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">	
	<style type="text/css">
		html{overflow-y:scroll;}  
		.nav-list span{color:#0088cc;}
	</style>
</head>

<body>	
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">				
				<a class="brand" href="javascript:void(0);" onclick="iframe('welcome')">小微贷款业务管理系统</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="javascript:void(0);" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user icon-white"></i>&nbsp;{{login_name}}<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
								<li><a href="javascript:void(0);" onclick="$('#content').hide();$('#content_frame').show();">修改密码</a></li>
								<li class="divider"></li>
								<li><a href="logout">注销</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav" id="topmenu">
						<li><a href="xxgl">信息管理</a></li>
						<li><a href="lcgl">流程管理</a></li>
						<li><a href="xtgj">系统工具</a></li>
						<li><a href="xtgl">系统管理</a></li>
						<li><a href="tjbb">统计报表</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</div><!--/.navbar-inner -->		
	</div><!--/.navbar -->
	<img src="/static/img/sub01.jpg" style="width:100%;margin-top:40px;"/>
	<div class="container-fluid" style="margin:10px auto 50px;">
		<div class="row-fluid">
			<div class="span3">
				
				<div class="well sidebar-nav" id="leftmenu">				
					<ul class="nav nav-list">
						<li class="nav-header">用户信息</li>
						<li>
							<span>用户名：admin</span>
						</li>
						<li>
							<span>所属支行：钟楼支行</span>
						</li>  
						<li>
							<span>用户权限：管理员</span>
						</li>              
					</ul>
				</div><!--/.well -->						
			</div><!--/span-->
<!--**************************************************content***********************************************-->
			<div class="span9 pull-right">				
				<div id="content">
					<div class="well place">			
						<i class="icon-home"></i><a href="#">首页</a>
					</div>		
					<div class="row-fluid">
						<i class="icon-bookmark"></i><span class="titletip">待办事项</span>
						<div style="border:1px solid #94c1dc;">
							<table class="table-list">
								<thead>
									<tr>
										<th>待办事项项目</th>
										<th>项目数</th>
									</tr>
								</thead>
								<tbody class="center">
									<tr>
										<td>贷款申请审核</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷前调查</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷款申请审核</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷前调查</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷款申请审核</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷前调查</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷款申请审核</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷前调查</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷款申请审核</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷前调查</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷款申请审核</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷前调查</td>
										<td>3</td>
									</tr>
									<tr>
										<td>贷款申请审核</td>
										<td>3</td>
									</tr>									
								</tbody>
							</table>
						</div>
					</div><!--/row-fluid -->
				</div><!--/content -->
				<iframe frameborder="0" width="100%" height="280" id="content_frame" src="change_password" style="display:none;"></iframe>
			</div><!--/span-->
		</div><!--/row-->		
    </div><!--/.fluid-container-->		
<!--**************************************************foot***********************************************-->
	<div class="footer">
		<p class="pull-center">@ 2013 CardPay (Shanghai) Info Tech Co.,Ltd </p>
	</div>	
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>
