<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">	
	
</head>

<body onload="datepicker()">	
	
	<form class="content">		
	<!--**************************贷款类型*********************************-->
		<div class="divBorder">
			<table class="table-list">
				<tr>				
					<td class="table-label">贷款类型</td>
					<td>
						<select>
							<option>---请选择---</option>
							<option>微贷</option>
							<option>小额贷</option>									
						</select>
					</td>
				</tr>												
			</table>
		</div>
	<!--**************************个人信息*********************************-->
		<i class="icon-bookmark"></i><span class="titletip">个人信息&nbsp;&nbsp;&nbsp;客户编号：<span id="customer_no"></span></span>
		<div class="divBorder">
			<table class="table-list">
				<tr>
					<td class="table-label">姓名</td>
					<td>
						<span id="customer_name"></span>
					</td>	
					<td class="table-label">性别</td>
					<td><span id=""></span></td>
					<td class="table-label">手机</td>
					<td><span id=""></span></td>
					<td class="table-label">固定电话</td>
					<td><span id=""></span></td>			
				</tr>					
				<tr>							
					<td class="table-label">证件类型</td>
					<td colspan="3"><span id=""></span></td>	
					<td class="table-label">证件号码</td>
					<td colspan="3"><span id=""></span></td>											
				</tr>
				<tr>
					<td class="table-label">家庭地址</td>
					<td colspan="7"><span id=""></span></td>							
				</tr>	
				<tr>
					<td class="table-label">家庭情况表述</td>
					<td colspan="7"><span id=""></span></td>							
				</tr>	
				<tr>
					<td class="table-label">婚姻状况</td>
					<td><span id=""></span></td>
					<td class="table-label">居住条件</td>
					<td><span id=""></span></td>	
					<td class="table-label">教育程度</td>
					<td colspan="3"><span id=""></span></td>				
				</tr>		
				<tr>
					<td class="table-label" rowspan="2">关系人</td>					
					<td class="table-label">姓名</td>
					<td colspan="2"><input type="text" id="" disabled/></td>	
					<td class="table-label">证件号码</td>
					<td colspan="3"><input type="text" id="" disabled/></td>						
				</tr>		
				<tr>
					<td class="table-label">联系方式</td>
					<td colspan="2"><input type="text" id="" disabled/></td>	
					<td class="table-label">与借款人关系</td>
					<td colspan="3"><input type="text" id="" disabled/></td>						
				</tr>				
			</table>
		</div>
	<!--**************************经营信息*********************************-->
		<i class="icon-bookmark"></i><span class="titletip">经营信息</span>
		<div class="divBorder">
			<table class="table-list">				
				<tr>
					<td class="table-label">企业名称</td>
					<td><input type="text" id="" disabled/></td>	
					<td class="table-label">经营范围</td>
					<td><input type="text" id="" disabled/></td>						
				</tr>	
				<tr>
					<td class="table-label">经营性质</td>
					<td>
						<select disabled>
							<option>---请选择---</option>
							<option>个体工商户</option>
						</select>
					</td>	
					<td class="table-label">法人代表</td>
					<td><input type="text" id="" disabled/></td>						
				</tr>
				<tr>
					<td class="table-label">经营地址</td>
					<td><input type="text" id="" class="long" disabled/></td>	
					<td class="table-label">开业时间</td>
					<td><input type="text" id="" class="datepicker" disabled/></td>						
				</tr>			
				<tr>
					<td class="table-label">联系方式</td>
					<td><input type="text" id="" disabled/></td>	
					<td class="table-label">雇佣人数</td>
					<td><input type="text" id="" disabled/></td>						
				</tr>
			</table>
		</div>
	<!--**************************财务信息*********************************-->
		<i class="icon-bookmark"></i><span class="titletip">财务信息</span>
		<div class="divBorder">
			<table class="table-list">				
				<tr>
					<td class="table-label">主要供应商</td>
					<td><input type="text" id=""/></td>	
					<td class="table-label">主要客户</td>
					<td><input type="text" id=""/></td>	
					<td class="table-label">总资产（元）</td>
					<td><input type="text" id=""/></td>						
				</tr>	
				<tr>
					<td class="table-label">存货（元）</td>
					<td><input type="text" id=""/></td>	
					<td class="table-label">应收财款（元）</td>
					<td><input type="text" id=""/></td>	
					<td class="table-label">固定资产（元）</td>
					<td><input type="text" id=""/></td>									
				</tr>
				<tr>
					<td class="table-label">总负债（元）</td>
					<td><input type="text" id=""/></td>	
					<td class="table-label">银行借款（元）</td>
					<td><input type="text" id=""/></td>	
					<td class="table-label">私人借款（元）</td>
					<td><input type="text" id=""/></td>											
				</tr>	
				<tr>
					<td class="table-label">月销售额（元）</td>
					<td><input type="text" id=""/></td>	
					<td class="table-label">利润（%）</td>
					<td><input type="text" id=""/></td>	
					<td class="table-label">其他月收入（元）</td>
					<td><input type="text" id=""/></td>											
				</tr>
			</table>
		</div>
		<!--**************************申请信息*********************************-->
		<i class="icon-bookmark"></i><span class="titletip">申请信息</span>
		<div class="divBorder">
			<table class="table-list">				
				<tr>
					<td class="table-label">贷款金额（元）*</td>
					<td><input type="text" id=""/></td>	
					<td class="table-label">贷款期限（月）*</td>
					<td><input type="text" id=""/>月</td>	
					<td class="table-label">月还款能力（元）*</td>
					<td><input type="text" id=""/></td>						
				</tr>	
				<tr>
					<td class="table-label">贷款用途*</td>
					<td>
						<select>
							<option>---请选择---</option>
							<option>流动资金贷款</option>
						</select>
					</td>	
					<td class="table-label">详细说明</td>
					<td colspan="3"><input type="text" id="" class="long"/></td>						
				</tr>
				<tr>
					<td class="table-label">还款来源</td>
					<td colspan="5"><input type="text" id="" class="long"/></td>									
				</tr>	
			</table>
		</div>
		<!--*****************************************信贷历史**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">信贷历史</span>
		<input type="button" value="+" onclick="addTd('xdls','dksq_info')" class="btn btn-info btn-mini" style="padding:0 7px;margin-top:0px;"/>
		<input type="button" value="-" onclick="removeTd('xdls','dksq_info')" class="btn btn-info btn-mini" style="padding:0 9px;margin-top:0px;"/>
		<div class="divBorder">
			<table id="xdls" class="table-list">
				<tr>
					<th>融资来源</th>
					<th>贷款金额(元)</th>
					<th>期限</th>							
					<th>用途</th>
					<th>发放日期</th>
					<th>余额(元)</th>		
					<th>担保</th>
					<th>逾期信息</th>									
				</tr>
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td><input type="text" id="" class="tbInput"/></td>
					<td><input type="text" id="" class="tbInput"/></td>							
					<td><input type="text" id="" class="tbInput"/></td>	
					<td><input type="text" id="" class="tbInput"/></td>
					<td><input type="text" id="" class="tbInput"/></td>	
					<td><input type="text" id="" class="tbInput"/></td>	
					<td><input type="text" id="" class="tbInput"/></td>
					<td><input type="text" id="" class="tbInput"/></td>											
				</tr>
			</table>
		</div>
	<!--*****************************************共同借款人**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">共同借款人</span>
		<input type="button" value="+" onclick="addTd('gtjkr','dksq_info')" class="btn btn-info btn-mini" style="padding:0 7px;margin-top:0px;"/>
		<input type="button" value="-" onclick="removeTd('gtjkr','dksq_info')" class="btn btn-info btn-mini" style="padding:0 9px;margin-top:0px;"/>
		<div class="divBorder">
			<table id="gtjkr" class="table-list">
				<tr class="font-small">
					<th>姓名</th>
					<th>与客户关系</th>
					<th>身份证号码</th>							
					<th>家庭电话</th>
					<th>主营业务或职务（如受雇与别人）</th>
					<th>经营地址或工作单位地址</th>		
					<th>主要资产</th>
					<th>月收入</th>									
				</tr>
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td>
						<select id="" style="width:80px;">
							<option>吕淑珍</option>
						</select>
					</td>
					<td><span id="">亲戚</span></td>							
					<td><span id=""> 10110119700216305x </span></td>	
					<td><span id=""> 01062221188 </span></td>
					<td><input type="text" id="" style="width:100px;"/></td>	
					<td><input type="text" id="" style="width:130px;"/></td>	
					<td><input type="text" id="" style="width:90px;"/></td>
					<td><input type="text" id="" style="width:90px;"/></td>											
				</tr>
			</table>
		</div>
	<!--*****************************************是否为他人担保**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">是否为他人担保</span>
		<input type="button" value="+" onclick="addTd('sfwtrdb','dksq_info')" class="btn btn-info btn-mini" style="padding:0 7px;margin-top:0px;"/>
		<input type="button" value="-" onclick="removeTd('sfwtrdb','dksq_info')" class="btn btn-info btn-mini" style="padding:0 9px;margin-top:0px;"/>
		<div class="divBorder">
			<table id="sfwtrdb" class="table-list">
				<tr class="font-small">
					<th>银行</th>
					<th>被担保人</th>
					<th>担保金额</th>								
				</tr>
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td><input type="text" id="" /></td>	
					<td><input type="text" id=""/></td>	
					<td><input type="text" id="" /></td>								
				</tr>
			</table>
		</div>
	<!--*****************************************有无抵押物**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">有无抵押物</span>
		<input type="button" value="+" onclick="addTd('ywdyw','dksq_info')" class="btn btn-info btn-mini" style="padding:0 7px;margin-top:0px;"/>
		<input type="button" value="-" onclick="removeTd('ywdyw','dksq_info')" class="btn btn-info btn-mini" style="padding:0 9px;margin-top:0px;"/>
		<div class="divBorder">
			<table id="ywdyw" class="table-list">
				<tr class="font-small">
					<th>抵押物</th>							
				</tr>
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td><input type="text" id="" /></td>							
				</tr>
			</table>
		</div>
		
	<!--**************************担保信息*********************************-->
		<i class="icon-bookmark"></i><span class="titletip">担保信息</span>
		<input type="button" value="+" onclick="addTd('dbInformation','dksq_info')" class="btn btn-info btn-mini" style="padding:0 7px;margin-top:0px;"/>
		<input type="button" value="-" onclick="removeTd('dbInformation','dksq_info')" class="btn btn-info btn-mini" style="padding:0 9px;margin-top:0px;"/>
		<div class="divBorder">
			<table id="dbInformation" class="table-list">
				<tr>
					<th>姓名</th>
					<th>地址</th>
					<th>身份证号码</th>							
					<th>工作单位</th>
					<th>电话</th>		
					<th>与申请人关系</th>								
				</tr>
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td><input type="text" id="" class="tbInput"/></td>
					<td><input type="text" id="" class="tbInput"/></td>							
					<td><input type="text" id="" class="tbInput"/></td>	
					<td><input type="text" id="" class="tbInput"/></td>
					<td><input type="text" id="" class="tbInput"/></td>	
					<td><input type="text" id="" class="tbInput"/></td>										
				</tr>
			</table>
		</div>
		<div class="divBorder">
			<table class="table-list">				
				<tr>
					<td class="table-label">抵押物</td>
					<td><input type="text" id="" class="long"/></td>	
				</tr>
			</table>
		</div>
	
	<!--**************************评价*********************************-->
		<i class="icon-bookmark"></i><span class="titletip">评价（第一印象，特殊观察，附加信息等）</span>
		<div class="divBorder">
			<table class="table-list">				
				<tr>
					<td><textarea style="width:85%;height:80px;"></textarea></td>	
				</tr>
			</table>
		</div>
		<div class="divBorder">
			<table class="table-list">				
				<tr>
					<td class="table-label">营销信贷员</td>
					<td>
						<input type="text" id="manager"/>
						<input type="button" value="搜索" class="btn" onclick="$('.display-div').show();"/>
						<div class="display-div" id="xdyss" style="margin-top:-300px"><!--onmouseleave="setTimeout(function(){$('.display-div').hide();},3000)"-->
							<i class="icon-bookmark"></i><span class="titletip">信贷员搜索</span>
							<div style="border:1px solid #94c1dc;">
								<table class="table-list">
									<tr>
										<td class="table-label">信贷员编号</td>
										<td><input type="text"/></td>	
										<td class="table-label">信贷员名称</td>
										<td><input type="text"/></td>	
									</tr>
								</table>
							</div>																		
							<input type="button" value="关闭" class="btn btn-info btn-mini pull-right" onclick="$('.display-div').hide();"/>
							<input type="button" value="搜索" class="btn btn-info btn-mini pull-right"/><br/>
							<i class="icon-bookmark"></i><span class="titletip">信贷员列表</span>
							<div style="border:1px solid #94c1dc;">
								<table class="table-list">
									<thead>
										<tr>
											<th>选择</th>	
											<th>信贷员编号</th>												
											<th>信贷员名称</th>												
										</tr>
									</thead>
									<tbody class="center">
										<tr>
											<td><input type="radio" name="xdy" onclick="get_name(this,'#manager')"/></td>	
											<td>1001</td>												
											<td>长三联</td>												
										</tr>
										<tr>
											<td><input type="radio" name="xdy" onclick="get_name(this,'#manager')"/></td>	
											<td>1002</td>												
											<td>ww</td>												
										</tr>
										<tr>
											<td><input type="radio" name="xdy" onclick="get_name(this,'#manager')"/></td>	
											<td>1003</td>												
											<td>xx</td>												
										</tr>												
									</tbody>
								</table>
							</div>
							<div class="page-div">
								<span style="CURSOR: pointer">&lt;&lt;</span>
								&#160;<input type="text" value="1"/>
								&#160;共&#160;<font color="#0088cc">1</font>&#160;页&#160;
								<span style="CURSOR: pointer">&gt;&gt;</span>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<span class="point">*为必填字段</span><br/>
		<input type="submit" class="btn btn-info" value="提交"/>
		<input type="reset" class="btn btn-info" value="重置"/>				
	</form>			
		
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/process.js"></script>
</body>
</html>
