<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<style type="text/css">		
		textarea{width:80%;}		
	</style>
</head>

<body>	
	<form class="content">
	<!--*****************************************存货**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">存货清单</span>
		<div id="KCQD">
			<div style="margin-bottom:5px;">
				<a type="button" class="btn btn-info" href="#" onclick="$('#KCQD').hide();$('#newKCQD').show();doubleIframe('dqdcXed_kc');">新增</a><!--*滚动条问题*-->
			</div>
			<div style="border:1px solid #94c1dc;">	
				<table class="table-list" cellspacing="10" id="uesr-list">				
					<tr>
						<th><input type="button" class="btn btn-info btn-mini" value="反选" style="margin:0;" onclick="ChkAllClick()"/></th>
						<th>货物名称</th>
						<th>数量</th>
						<th>买进单价(单位生产成本)(元)</th>
						<th>买进总价值(元)</th>							
						<th>卖出单价(元)</th>
						<th>卖出总价值(元)</th>						
						<th>单位毛利率</th>
						<th>操作</th>
					</tr>   
					<tr class="center">
						<td><input type="checkbox" onclick="changeColor(this)" name="checkbox"/></td>
						<td><a href="#" onclick="">毛料</a></td>
						<td> 10</td>
						<td>2,000.00</td>
						<td>20,000.00</td>
						<td>2,500.00</td>
						<td>25,000.00</td>
						<td>25.00%</td>
						<td>
							<input type="button" class="btn btn-danger btn-mini" value="删除"/>	
						</td>
					</tr>					
				</table>
			</div>
			<div class="page-div">
				<span style="CURSOR: pointer">&lt;&lt;</span>
				&#160;<input type="text" value="1"/>
				&#160;共&#160;<font color="#0088cc">1</font>&#160;页&#160;
				<span style="CURSOR: pointer">&gt;&gt;</span>
			</div>
		</div>
		<!--*****************************************新建存货清单**************************************************-->
		<div id="newKCQD" style="display:none;">
			<form>	
				<div style="border:1px solid #94c1dc;">	
					<table class="table-list" id="">	
						<tr>
							<td class="table-label">货物名称*</td>
							<td><input type="text" id=""/></td>
							<td class="table-label">数量*</td>
							<td><input type="text" id=""/></td>
						</tr>
						<tr>
							<td class="table-label">买进单价(元)*</td>
							<td><input type="text" id=""/></td>
							<td class="table-label">买进总价值(元)*</td>
							<td><input type="text" id=""/></td>
						</tr>
						<tr>
							<td class="table-label">卖出单价(元)*</td>							
							<td><input type="text" id="" /></td>
							<td class="table-label">卖出总价值(元)*</td>
							<td><input type="text" id="" /></td>
						</tr>
					</table>
				</div>
				<span class="point">*为必填字段</span><br/>
				<input type="submit" value="提交" class="btn btn-info"/>
				<input type="button" value="返回" class="btn btn-info" onclick="$('#newKCQD').hide();$('#KCQD').show();doubleIframe('dqdcXed_kc');"/>
			</form>
		</div>
	</form>

	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/process.js"></script>
	<script type="text/javascript"></script>
</body>
</html>
