<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
	<style type="text/css">	
		.table-list .table-label{width:140px;}		
	</style>
	<script type="text/javascript">
		
	</script>
</head>

<body>	
	<div class="content">
		
		<div style="margin:5px;text-align:left;">
			<i class="icon-bookmark"></i><span class="titletip">抵质押物信息</span>			
		</div>
		<div style="border:1px solid #94c1dc;margin:5px">				
			<table class="table-list" cellspacing="10" id="uesr-list">					
				<tr>
					<th>资产名称</th>
					<th>银行估价</th>
					<th>办理法律手续</th> 
					<th>变现代偿</th>
				</tr>
				<tr class="center">
					<td>房屋 </td>
					<td>500,000.00</td>
					<td>是</td>
					<td>是</td>
				</tr>	
				<tr class="center">
					<td>厂房</td>
					<td>350,000.00</td>
					<td>否</td>
					<td>是</td>
				</tr>	
			</table>
		</div>
		
		<input type="button" value="返回" class="btn btn-info" onclick="iframe('Information/dkxx_dhbg');"/>
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>
