<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
	<style type="text/css">	
		.table-list .table-label{width:140px;}		
	</style>
	<script type="text/javascript">
		
	</script>
</head>

<body>	
	<div class="content">
		<i class="icon-bookmark"></i><span class="titletip">还款记录</span>
		<div style="border:1px solid #94c1dc;">				
			<table class="table-list" cellspacing="10" id="uesr-list">					
				<tr>
					<th>还款期数</th>          
					<th>还款日期</th>
					<th>贷款余额</th>
					<th>月利率</th>
					<th>本金</th>
					<th>利息</th>
					<th>罚息</th>
					<th>合计</th>
					<th>已还款金额</th>
					<th>偿还明细</th>
				</tr>
				<tr class="center">
					<td>1</td>
					<td>2009-06-20</td>
					<td>12,000.00</td>
					<td>1.5822%</td>
					<td>2,000.00</td>
					<td>120.00</td>
					<td>0.00</td>
					<td>2,120.00</td>
					<td>2,120.00</td>
					<td><a href="#" onclick="iframe('Information/dkxx_hkjlInfo')">明细</a></td>
				</tr>
				<tr class="center errer">
					<td>2</td>
					<td>2009-07-20</td>
					<td>12,000.00</td>
					<td>1.5822%</td>
					<td>2,000.00</td>
					<td>120.00</td>
					<td>0.00</td>
					<td>2,120.00</td>
					<td>2,120.00</td>
					<td><a href="#" onclick="iframe('Information/dkxx_hkjlInfo')">明细</a></td>
				</tr>

			</table>
		</div>

		<span class="point">红色是逾期 </span>
		<div class="page-div">
			<span style="CURSOR: pointer">&lt;&lt;</span>
			&#160;<input type="text" value="1"/>
			&#160;共&#160;<font color="#0088cc">1</font>&#160;页&#160;
			<span style="CURSOR: pointer">&gt;&gt;</span>
		</div>
	


	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>
