<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
	<style type="text/css">	
		.table-list .table-label{width:140px;}
	</style>
	
</head>

<body>	
	<div class="content">
		<div id="tab1">
			<i class="icon-bookmark"></i><span class="titletip">财务信息</span>
			<form method="POST" action="/Information/sc_financial_affairs/{{customer.customer_type}}/{{customer.id}}" target="_top">										
				<div style="border:1px solid #94c1dc;">				
					<table class="table-list">
						<tr>
							<td class="table-label">主要供应商</td>
							<td><input type="text" name="main_supplier" value="{{financial_affairs.main_supplier}}"/></td>	
							<td class="table-label">主要客户</td>
							<td><input type="text" name="main_client" value="{{financial_affairs.main_client}}"/></td>	
							<td class="table-label">总资产（元）</td>
							<td><input type="text" name="total_assets" value="{{financial_affairs.total_assets}}"/></td>						
						</tr>	
						<tr>
							<td class="table-label">存货（元）</td>
							<td><input type="text" name="stock" value="{{financial_affairs.stock}}"/></td>	
							<td class="table-label">应收财款（元）</td>
							<td><input type="text" name="accounts" value="{{financial_affairs.accounts}}"/></td>	
							<td class="table-label">固定资产（元）</td>
							<td><input type="text" name="fixed_assets" value="{{financial_affairs.fixed_assets}}"/></td>									
						</tr>
						<tr>
							<td class="table-label">总负债（元）</td>
							<td><input type="text" name="total_liabilities" value="{{financial_affairs.total_liabilities}}"/></td>	
							<td class="table-label">银行借款（元）</td>
							<td><input type="text" name="bank_borrowings" value="{{financial_affairs.bank_borrowings}}"/></td>	
							<td class="table-label">私人借款（元）</td>
							<td><input type="text" name="private_borrowers" value="{{financial_affairs.private_borrowers}}"/></td>											
						</tr>	
						<tr>
							<td class="table-label">月销售额（元）</td>
							<td><input type="text" name="monthly_sales" value="{{financial_affairs.monthly_sales}}"/></td>	
							<td class="table-label">利润（%）</td>
							<td><input type="text" name="profit" value="{{financial_affairs.profit}}"/></td>	
							<td class="table-label">其他月收入（元）</td>
							<td><input type="text" name="other_monthly_income" value="{{financial_affairs.other_monthly_income}}"/></td>											
						</tr>
					</table>
				</div>
				<span class="point">*为必填字段</span><br/>
				<input type="submit" value="提交" class="btn btn-info"/>
				<input type="button" value="返回" class="btn btn-info" onclick="$('#tab2').hide();$('#tab1').show();doubleIframe('cwxx');"/>
			</form>
		</div><!-- /新增附加信息列表 -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>
