<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
		
</head>

<body>	
	<div class="content">			
		<div class="row-fluid">
			<div class="well place">			
				<i class="icon-home"></i><a href="#">流程管理</a>/<a href="#">贷后管理</a>
			</div>	
			<i class="icon-bookmark"></i><span class="titletip">管理信息列表</span>
			<div style="margin-bottom:5px;">
				<a type="button" class="btn btn-info" href="#" onclick="iframe('Process/dhgl/new_bz')">新增标准</a>
				<a type="button" class="btn btn-info" href="#" onclick="iframe('Process/dhgl/new_fbz')">新增非标准</a>		
				<a type="button" class="btn btn-info" href="#" onclick="iframe('Process/dhgl/dhgl')">返回</a>					
			</div>
			<div style="border:1px solid #94c1dc;">				
				<table class="table-list" cellspacing="10" id="uesr-list">
					<thead>
						<tr>
							<th>日期</th>							
							<th>管理类型</th>
							<th>信贷员</th>
						</tr>
					</thead>
					<tbody class="center">
						<tr>
							<td><a href="#" onclick="iframe('Process/dhgl/new_bz')">2013-10-20</a></td>
							<td>标准</td>
							<td>唐琳君</td>							
						</tr>	
						<tr>
							<td><a href="#" onclick="iframe('Process/dhgl/new_fbz')">2013-10-22</a></td>
							<td>非标准</td>
							<td>唐琳君</td>							
						</tr>									
					</tbody>
				</table>
			</div>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>
