<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<style type="text/css">	
		textarea{width:80%;}
		.table-list .table-label{width:150px;}
	</style>	
</head>

<body>	
	<div class="content">			
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">非标监控说明</span>
			<div class="divBorder">				
				<table class="table-list">					
					<tr>
						<td class="table-label">时间*</td>
						<td><input type="text" id=""/></td>
						<td class="table-label">地点*</td>	
						<td><input type="text" id=""/></td>						
					</tr>	
					<tr>
						<td class="table-label">相关人员*</td>
						<td colspan="3"><input type="text" id="" class="long"/></td>				
					</tr>
					<tr>
						<td class="table-label">采取非标准监控的原因*</td>
						<td colspan="3"><input type="text" id="" class="long"/></td>				
					</tr>
					<tr>
						<td class="table-label">非标监控的基本判断*</td>
						<td colspan="3"><input type="text" id="" class="long"/></td>				
					</tr>
					<tr>
						<td class="table-label">后续重点工作*</td>
						<td colspan="3"><input type="text" id="" class="long"/></td>				
					</tr>
				</table>
			</div>
			<a type="button" class="btn btn-info" href="#" onclick="iframe('Process/dhgl/glxxlb')">返回</a>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>
