<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
		
</head>

<body>	
	<div class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">流程管理</a>/<a href="#">来访登记</a>
		</div>	
		<a type="button" class="btn btn-info" href="#" onclick="iframe('Process/lfdj/lfdj')" style="float:right;margin-top:-5px;">返回</a><br/>		
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">客户登记信息</span>
			<form class="content" method="POST" action="/Process/lfdj/new_lfdj">	
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">
						<tr>
							<td class="table-label">客户名称*</td>
							<td>
								<input type="text" name="customer_name"/>
							</td>	
							<td class="table-label">接待人员*</td>
							<td>
						<input type="hidden" id="manager" name="manager"/>
						<input type="text" id="manager_name"/>
						<input type="button" value="搜索" class="btn" onclick="$('.display-div').show();"/>
						<div class="display-div" id="xdyss1">
							<i class="icon-bookmark"></i><span class="titletip">信贷员搜索</span>
							<div style="border:1px solid #94c1dc;">
								<table class="table-list">
									<tr>
										<td class="table-label">信贷员编号</td>
										<td><input type="text"/></td>	
										<td class="table-label">信贷员名称</td>
										<td><input type="text"/></td>	
									</tr>
								</table>
							</div>																		
							<input type="button" value="关闭" class="btn btn-info btn-mini pull-right" onclick="$('.display-div').hide();"/>
							<input type="button" value="搜索" class="btn btn-info btn-mini pull-right"/><br/>
							<i class="icon-bookmark"></i><span class="titletip">信贷员列表</span>
							<div style="border:1px solid #94c1dc;">
								<table class="table-list">
									<thead>
										<tr>
											<th>选择</th>	
											<th>信贷员编号</th>												
											<th>信贷员名称</th>												
										</tr>
									</thead>
									<tbody class="center">
										{%- for obj in user %}
										<tr>
											<td><input type="radio" name="xdy" onclick="get_name(this,'manager_name','manager')"/></td>	
											<td>{{obj.id}}</td>												
											<td>{{obj.login_name}}</td>												
										</tr>		
										{%- endfor %}								
									</tbody>
								</table>
							</div>
						</div><!--/display-div-->
					</td>	
							</td>	
						</tr>					
						<tr>							
							<td class="table-label">客户性别*</td>
							<td>
								<label><input type="radio" name="sex" value="1" checked/>男</label>
								<label><input type="radio" name="sex"value="0" />女</label>
							</td>
							<td class="table-label">客户年龄</td>
							<td><input type="text" name="age"/>岁</td>													
						</tr>
						<tr>
							<td class="table-label">客户地址</td>
							<td colspan="3"><input type="text" name="address" class="long"/></td>							
						</tr>		
						<tr>
							<td class="table-label">所属行业</td>
							<td>
								<select name="industry">
									{%- for obj in industry %}
									<option value={{obj.id}}>{{obj.type_name}}</option>
									{%- endfor %}								
								</select>
							</td>	
							<td class="table-label">经营内容</td>
							<td><input type="text" name="business_content"/></td>						
						</tr>		
						<tr>
							<td class="table-label">经营期限</td>
							<td><input type="text" name="period"/>年</td>	
							<td class="table-label">电话/手机</td>
							<td><input type="text" name="mobile"/></td>						
						</tr>		
						<tr>
							<td class="table-label">贷款目的</td>
							<td><input type="text" name="loan_purpose"/></td>	
							<td class="table-label">贷款金额（元）</td>
							<td><input type="text" name="loan_amount"/></td>						
						</tr>	
						<tr>
							<td class="table-label">信息途径</td>
							<td>
								<select name="info_source">
									{%- for obj in info_source %}
									<option value={{obj.id}}>{{obj.type_name}}</option>
									{%- endfor %}									
								</select>
							</td>	
							<td class="table-label">备注</td>
							<td><input type="text" name="remarks" class="long"/></td>						
						</tr>
					</table>
				</div>
				<span class="point">*为必填字段</span><br/>
				<input type="submit" class="btn btn-info" value="提交"/>
				<input type="reset" class="btn btn-info" value="重置"/>											
			</form>			
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>
